<p>Beste {{ name }},</p>
<p>Er zijn afspraken ingepland tussen u en uw HR medewerker.</p>
<p><strong>Contractbespreking:</strong> {{ contractMeetingDate }}<br />
<strong>Salarisbespreking:</strong> {{ salaryMeetingDate }}</p>
<p></p>
<p>Met vriendelijke groet,</p>
<p>Uw HR afdeling</p>